!!!
%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title bloodhound
    %link{:rel => 'stylesheet', :href => '/css/normalize.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/css/style.css', :type => 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600', rel: 'stylesheet', type: 'text/css'}
  %body
    #container.clearfix
      #header
        = styled_flash
        .top-logo-cont
          %a{href: '/'}
            %img{src: "/img/logo@2x.png"}
      .main.clearfix
        = yield
      %footer

    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/js/app.js'}
